@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap');

html{
    background-image: url("../images/background.jpg");
    background-size: 38%;
    font-family: 'Roboto Condensed', sans-serif;
   /* width: 3000px;
    height: 100%; */
}

::-webkit-scrollbar {
    width: 0.80em;    
    height:  0.80em;
    background-color: #F8F8F8;
} 

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 0.5px solid black;
    border-radius: 9px;

}

::-webkit-scrollbar-track {
    background-color: #F8F8F8;
    border: 0.5px solid black;
}

.closed{
    display:none;
}

#aboutPop{
    background-color: rgba(0,0,254,1);
    position: fixed;
    top: 3.5%;
    left: 64.5%;
    height: 50%;
    width: 32%;
    z-index: 56;
    
}

.about{
    padding:3%;
}

#aboutBodyContainer{
    height: 80%
}


#aboutTitle{
    font-size:180%;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
}

.aboutBody{
    font-size:85%;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: light;
    padding-left: 3%;
    overflow-y: auto;

}

.aboutBody::-webkit-scrollbar-track {
    background-color: transparent;
}

.aboutBody::-webkit-scrollbar {
    width: 0.80em;    
    height:  0.80em;
    background-color: transparent;
} 

.aboutBody::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 3px solid transparent ;
    border-radius: 9px;
    background-clip: content-box;

}



#close{
    color: #ffffff;
    cursor: pointer;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.col-md-6{
    grid-column: span 6;
}



.col-md-11{
    grid-column: span 11;
}

.col-md-1{
    grid-column: span 1;
    justify-self: center;
    align-self:center;
    
}

#contactPop{
    background-color: rgba(0,0,254,0.30);
    position: fixed;
    top: 3.5%;
    left: 0.5%;
    height: 50%;
    width: 20%;
    display: none;
}

#secondNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#midTitle{
    font-size: 240%;
    color: rgba(0,0,254,0.49);
}
#midTitle:link{
    text-decoration: none;
}
#midTitle:visited{
    text-decoration: none;
}
#midTitle:hover{
    color: rgba(0,0,254,1);
}
#midTitle:active{
    text-decoration: none;
}

#dragMenu{
    position: fixed;
    border: none; 
    background-color:transparent;
    padding: 0 0 0 0.8%;
    top: 79%;
    z-index: 52;
}

#dragContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: stretch;

}

#bottomOne{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: start;
    border-bottom: 2px dotted;
}


#bottomTwo{
    color: rgba(0,0,254,0.30);
padding-inline-start: 0;
}


#bottomThree{
    color: rgba(0,0,254,0.30);
    padding-inline-start: 0;
}

#bottomFour{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
}



#bottomFive{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between; 
    padding-inline-start: 0;
}



.oneCol{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
}

.twoCol{
    display: grid;
    grid-template-columns: 96% 4%;
    position: fixed;
    top: 1%;
    width: 100%;
    z-index:52;
}

#topMenu{
    color: rgba(0,0,254,0.49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1%;
    margin: 0.6% auto;
    

}

#bottomMenu{
    color: rgba(0,0,254,0.30);
    padding: 0 0 0 1%;
    margin: 0.6% auto;
    font-size: 130%;
    width: 400%;
    
}

#bottomArrow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1% 0 0;
    margin: 0.6% auto;
    position: fixed;
    top: 92%;
    left: 97.35%;
}

#maximizeButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1% 0 0;
    margin: 0.6% auto;
    position: fixed;
    top: 92%;
    left: 93.35%;
}

#minimizeButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1% 0 0;
    margin: 0.6% auto;
    position: fixed;
    top: 92%;
    left: 95.35%;
}

.images {
    position: absolute;
    width: 10%;
    height: auto;
    z-index: 51;
}

.img-1 span{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    margin: 0;
    white-space: nowrap;
    font-size:250%;
}

.img-1:hover span{
    opacity: 100%;
    z-index: 53;
}


#topMenu li:nth-child(1){
    border-bottom: 1.4px dotted;
}

#topMenu li:nth-child(3){
    border-bottom: 1.4px dotted;
}





body{
    margin: 0 auto;
    width: 3000px;
    height: 3000px;
}


li {
    list-style: none;
    font-size: 125%;
    cursor: pointer;
}

li:hover {
    color: rgba(0,0,254,1);
}

svg{
    color: rgba(0,0,254,0.49);
}

svg:hover{
    color: rgba(0,0,254,1);
}


input{
    font-family: 'Roboto Condensed', sans-serif;
    border:none;
    background-color:transparent;
    width: 95%;
    font-size: 65%;
    padding-left: 3%;
    color: rgba(0,0,254,1);
}

input:focus{
    outline:none;
}

label{
    order: -1;
}

input:focus ~ label {
    color: rgba(0,0,254,1);
}